div.workingArea{
    margin-left: 40px;
    margin-top: 80px;
    margin-right: 40px;
}
div.listDataTableDiv{
    min-height: 220px;
}
div.pageDiv{
    text-align:center;
}
div.footer{
    position: absolute;
    bottom: 0;
    text-align:center;
    width:100%;
}
div.editer{
    min-height: 220px;
}